@model PROJECT_OLX.Models.LoginUser
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PROJECT_OLX/null_style.css">
    <link rel="stylesheet" href="~/css/registration.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Вхід</title>
</head>
<body>
    <div class="container">
        <div class="regist">
            <div class="regist__title">
                <span>Вхід</span>
            </div>
            <div class="regist__line"></div>
            <div class="regist__form">
                @using (Html.BeginForm())
                {
                    <div class="input">
                        <div class="regist__text">Введіть ваш логін</div>
                        <input type="text" asp-for="Login" />
                        <span asp-validation-for="Login" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Введіть ваш пароль</div>
                        <input type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="field-validation-valid"></span>
                    </div>
                        <p>
                            <div class="regist__button"><input type="submit" value="Вхід" /></div>
                        </p>
                        }
                    </div>
                </div>
    </div>
</body>
</html>