@model PROJECT_OLX.Models.User
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../PROJECT_OLX/null_style.css">
    <link rel="stylesheet" href="~/css/registration.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Реєстрація</title>
</head>
<body>
    <div class="container">
        <div class="regist">
            <div class="regist__title">
                <span>Реєстрація</span>
            </div>
            <div class="regist__line"></div>
            <div class="regist__form">
                @using (Html.BeginForm())
                {
                    <div class="input">
                        <div class="regist__text">Введіть ваш логін</div>
                        <input type="text" asp-for="Login" />
                        <span asp-validation-for="Login" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Введіть ваш пароль</div>
                        <input type="password" asp-for="Password" />
                        <span asp-validation-for="Password" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Повторіть ваш пароль</div>
                        <input type="password" asp-for="PasswordConfirm" />
                        <span asp-validation-for="PasswordConfirm" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Введіть ваше ім'я</div>
                        <input type="text" asp-for="Name" />
                        <span asp-validation-for="Name" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Введіть вашу email-адресу</div>
                        <input type="email" asp-for="Email" />
                        <span asp-validation-for="Email" class="field-validation-valid"></span>
                    </div>
                    <div class="input">
                        <div class="regist__text">Введіть ваш номер мобільного телефону</div>
                        <input type="tel" asp-for="Phone" />
                        <span asp-validation-for="Phone" class="field-validation-valid"></span>
                    </div>
                    <p>
                        <div class="regist__button"><input type="submit" value="Реєстрація" /></div>
                    </p>
                }
            </div>
        </div>
    </div>
</body>
</html>