@model PROJECT_OLX.Models.User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/Null_Style.css">
    <link rel="stylesheet" href="~/css/redact.css">
    <link rel="stylesheet" href="sss.css">
    <title>Add</title>
</head>
<body>
    <script src="~/js/add.js"></script>
     <form asp-action="Redact" asp-controller="Redact" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="redact">
            <div class="redact__title">Редагування профіля</div>
            <div class="redact__line"></div>
            <div class="redact__content">
                <div class="content__flex">
                    <label for="upload-file__input_1">
                        <div class="content__avatar" id="content__avatar">
                            <input type="file" name="uploadedFile" id="upload-file__input_1" class="upload-file__input" accept=".jpg, .jpeg, .png" multiple onchange="download_user(this)" />
                        </div>
                        <div class="test__text text"></div>
                    </label>

                    <div class="content__input">
                    </div>
                </div>
            </div>
            <div class="items__button"><input type="submit" value="Додати" /></div>
        </div>
    </div>
         </form>
</body>
</html>