@using PROJECT_OLX.Models;
@model PROJECT_OLX.Models.Add
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/add.css" rel="stylesheet" />
    <link href="~/css/addPhoto.css" rel="stylesheet" />
    <link href="~/css/Null_Style.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Створити оголошення</title>
</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/add.js"></script>
    <div class="container">
        <div class="add">
            <div class="add__title">Створити оголошення</div>
            <div class="add__line"></div>
            <form asp-action="Add" asp-controller="Add" method="post" enctype="multipart/form-data">
                <div class="add__input">
                    <div class="input__content">
                        <div class="input__first">
                            <div class="input__text__flex"><div class="input__title text">Вкажіть назву</div> <span asp-validation-for="Title" class="field-validation-valid"></span></div>
                            <input type="text" asp-for="Title" />
                            
                            <div class="input__text__flex"><div class="input__desc text">Опишіть ваш товар </div><span asp-validation-for="Desc" class="field-validation-valid"></span></div>
                            <div class="input__textarea"><textarea class="field-validation-valid " asp-for="Desc"></textarea>
                            </div>
                            <div class="input__image">
                                <div class="upload-file__wrapper">
                                    <label class="upload-file__label @ViewBag.IsFileValid" id="upload-file__label" for="upload-file__input_1" >
                                        <svg class="upload-file__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                            <path d="M286 384h-80c-14.2 1-23-10.7-24-24V192h-87.7c-17.8 0-26.7-21.5-14.1-34.1L242.3 5.7c7.5-7.5 19.8-7.5 27.3 0l152.2 152.2c11.6 11.6 3.7 33.1-13.1 34.1H320v168c0 13.3-10.7 24-24 24zm216-8v112c0 13.3-10.7 24-24 24H24c-13.3 0-24-10.7-23-23V366c0-13.3 10.7-24 24-24h136v8c0 31 24.3 56 56 56h80c30.9 0 55-26.1 57-55v-8h135c13.3 0 24 10.6 24 24zm-124 88c0-11-9-20-19-20s-19 9-20 20 9 19 20 20 21-9 20-20zm64 0c0-12-9-20-20-20s-20 9-19 20 9 20 20 20 21-9 20-20z">
                                            </path>
                                        </svg>
                                        <span id="upload-file__text">Додати до 5-ти фото у форматі:<br>.jpeg, .jpg, .png, .webp.<br>Кожне фото повинно бути до 3Mb. </span>
                                    </label>
                                    <input type="file" name="uploads" id="upload-file__input_1" class="upload-file__input" accept=".jpg, .jpeg, .png, .webp" multiple="true" onchange="download(this)"/>
                                </div>
                            </div>
                        </div>
                        <div class="input__second">
                            <div class="input__text__flex"><div class="input__email text">Email-адреса </div><span asp-validation-for="Email" class="field-validation-valid"></span></div>
                            <input type="text" asp-for="Email" />
                            <div class="input__text__flex"><div class="input__phone text">Номер мобільного телефона</div><span asp-validation-for="Phone" class="field-validation-valid"></span></div>
                           <input type="text" asp-for="Phone" />
                            
                            <div class="input__text__flex"><div class="input__navigate text">Ваше місцезнаходження</div><span asp-validation-for="Country" class="field-validation-valid"></span></div>
                            <div>
                            <input type="text" asp-for="Country" />
                            
                            </div>
                            <div class="input__text__flex"><div class="input__navigate text">Укажіть ціну товару</div><span asp-validation-for="Cost" class="field-validation-valid"></span></div>
                            <input type="text" asp-for="Cost" />
                            
                        </div>
                    </div>
                </div>
                <div class="input__button"><input type="submit" value="Додати" /></div>
            </form>
        </div>
    </div>
</body>
</html>