<link href="~/css/Null_Style.css" rel="stylesheet" />
<link href="~/css/adminPanel.css" rel="stylesheet" />
<div class="container">
    <a asp-action="Index" asp-controller="Home">На главную</a>
    <div class="panel">
        <div class="header">
            <div class="text1"><a asp-action="AdminPanel" >Список користувачів</a></div>
            <div class="text1"><a asp-action="AdminPanelAD">Список оголошень</a></div>
        </div>
        @RenderBody()
    </div>
</div>