body {
    background: #e4e4e4;
}

.container {
}

.regist {
    width: 400px;
    height: auto;
    background: white;
    border-radius: 5px;
    margin: 100px auto 0 auto;
    padding: 10px 0;
}

.regist__title {
    color: black;
    font-size: 25px;
    font-family: Calibri;
    text-align: center;
}

.regist__line {
    margin: 10px 0 10px 0;
    width: 100%;
    height: 1px;
    background: #e4e4e4;
}

.regist__form {
    width: 300px;
    margin: 20px auto 0 auto;
}

.regist__text {
    color: #9a9a9a;
    font-family: Calibri;
}

.regist__form input {
    
    font-size: 20px;
    font-family: Calibri;
    color: black;
    background: #f3f3f3;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
}

.regist__button {
    width: 300px;
    height: 40px;
}
    .regist__button input {
        display: block;
        margin-top: 20px;
        background: #443f6c;
        color: white;
        font-size: 25px;
        font-family: Calibri;
        text-align: center;
        border-radius: 5px;
        transition: all 0.3s;
    }
.regist__button input:hover {
    background: #6860a3;
}

.input {
    margin-bottom: 20px;
}
